@media (prefers-color-scheme: light) {
    * {
        background-color: white;
        color: black;
        --themePref: light;
    }
}
@media (prefers-color-scheme: dark) {
    * {
        background-color: black;
        color: white;
        --themePref: dark;
    }
}
